$lorem-ipsum-color = limegreen 

:host {
  all: initial; /* 1st rule so subsequent properties are reset. */
  display: block;
  contain: content; /* Boom. CSS containment FTW. */
  background-color: $lorem-ipsum-color;
  width: 250px;
  height: 75px;
}
